@using PagedList.Mvc
@model PagedList.IPagedList<OnlineBookStore.Models.Entities.BOOKTYPE>

<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}


<h2>Tìm kiếm loại sách:</h2>
@using (Html.BeginForm("Index", "Type", FormMethod.Get))
{
<div class="input-group">
    @Html.TextBox("search", null, new { @class = "form-input" })
    <button type="submit" class='btn btn-default'><i class="fas fa-search"></i> Tìm kiếm</button>
</div>
    <div style="float:right">
        <h3>
            <a href="~/Type/Create" class='btn btn-default' ><span class="fas fa-plus-circle"></span>Thêm loại sách</a>
        </h3>
    </div>
}
<br />
<table class="table" style="font-size:15px">
    <tr>
        <th style="text-align: left">
            Tên loại sách
        </th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="5"> Không tìm thấy kết quả nào :( </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
<tr>
    <td style="text-align: left">
        @Html.DisplayFor(modelItem => item.TYPENAME)
    </td>
    @if (item.TYPEID != 0)
    {
        <td style="text-align: right">
            @Html.ActionLink("Sửa", "Edit", new { id = item.TYPEID }) |
            @Html.ActionLink("Chi tiết", "Details", new { id = item.TYPEID }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.TYPEID })
        </td>
    }
</tr>
        }
    }
</table>
<div class="text-center" style="text-align: center">
    <ul class="pagination">
        Trang  @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        / @Model.PageCount

        @Html.PagedListPager(Model, pageNum => Url.Action("Index", new
        {
            pageNum,
            search = Request.QueryString["search"]
        }))
    </ul>
</div>