@model OnlineBookStore.Models.Entities.USER

<link href="~/Content/Site.css" rel="stylesheet" />

@{
    ViewBag.Title = "AdminInfo";
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}

<h2>Thông tin tài khoản</h2>
<hr />
<div>
    <div id="HASH" class="infomation">
        <div id="left">
            <h3>Ảnh đại diện:</h3>
            <img src="@Url.Content(Model.AVATAR?? "~/Image/nulluser.png")" alt="Image not found" width="200" height="200" />
        </div>
        <div id="mid">
            <h2>ID Tài khoản: </h2><br />
            <h2>Tên tài khoản:</h2><br />
            <h2>Mật khẩu:</h2><br />
            <h2>Tên người dùng:</h2><br />
            <h2>Địa chỉ:</h2><br />
            <h2>Liên lạc:</h2><br />
            <h2>Email:</h2><br />
        </div>
        <div id="right">
            <h2>@Html.DisplayFor(model => model.USERID)</h2><br />
            <h2>@Html.DisplayFor(model => model.ACCOUNT)</h2><br />
            <h2>@ViewBag.HiddenPass</h2><br />
            <h2>@Html.DisplayFor(model => model.USERNAME)</h2><br />
            <h2>@Html.DisplayFor(model => model.ADDRESS)</h2><br />
            <h2>@Html.DisplayFor(model => model.PHONE)</h2><br />
            <h2>@Html.DisplayFor(model => model.EMAIL)</h2><br />
        </div>
    </div>
</div>
<hr />
<p style="font-size: 35px" class="btn-group">
    <a href="~/Manager" class='btn btn-default' style="font-size: 19px"><span class="fas fa-arrow-circle-left"></span> Quay về</a>
    <a href="~/User/LogOut" class='btn btn-default' style="font-size: 19px"><span class="fas fa-sign-out"></span> Đăng xuất</a>
    <a href="~/User/AdminEdit/@Model.USERID" class='btn btn-default' style="font-size: 19px"><span class="fas fa-info"></span> Sửa thông tin</a>
    <a href="~/User/AdmChgPass/@Model.USERID" class='btn btn-default' style="font-size: 19px"><span class="fas fa-user"></span> Đổi mật khẩu</a>
    <a href="~/User/AdminCreate" class='btn btn-default' style="font-size: 19px"><span class="fas fa-plus-circle"></span> Thêm quản trị viên</a>
    <a href="~/User/AdminDelete/@Model.USERID" class='btn btn-default' style="font-size: 19px"><span class="fas fa-minus-circle"></span> Xóa tài khoản</a>
</p>
