@model OnlineBookStore.Models.Entities.USER

<link href="~/Content/Site.css" rel="stylesheet" />

@{
    ViewBag.Title = "AdminInfo";
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}

<h2>Thông tin người quản trị</h2>
<hr />
<div>
    <div id="HASH" class="infomation">
        <div id="left">
            <h3>Ảnh đại diện:</h3>
            <img src="@Url.Content(Model.AVATAR?? "~/Image/nulluser.png")" alt="Image not found" width="200" height="200" />
        </div>
        <div id="mid">
            Tên tài khoản:  @Html.DisplayFor(model => model.ACCOUNT)<br />
            Tên người dùng: @Html.DisplayFor(model => model.USERNAME)<br />
            Địa chỉ:  @Html.DisplayFor(model => model.ADDRESS)<br />
            Liên lạc: @Html.DisplayFor(model => model.PHONE)<br />
            Email: @Html.DisplayFor(model => model.EMAIL)<br />
        </div>
        
    </div>
</div>
<hr />
<p style="font-size: 35px" class="btn-group">
    
    <a href="~/User/LogOut" class='btn btn-default' style="font-size: 19px"><span class="fas fa-sign-out"></span> Đăng xuất</a>
    <a href="~/User/AdminEdit/@Model.USERID" class='btn btn-default' style="font-size: 19px"><span class="fas fa-info"></span> Sửa thông tin</a>
    <a href="~/User/AdmChgPass/@Model.USERID" class='btn btn-default' style="font-size: 19px"><span class="fas fa-user"></span> Đổi mật khẩu</a>
    <a href="~/User/AdminCreate" class='btn btn-default' style="font-size: 19px"><span class="fas fa-plus-circle"></span> Thêm quản trị viên</a>
    <a href="~/User/AdminDelete/@Model.USERID" class='btn btn-default' style="font-size: 19px"><span class="fas fa-minus-circle"></span> Xóa tài khoản</a>
</p>
