@using PagedList.Mvc
@model PagedList.IPagedList<OnlineBookStore.Models.DTO.BOOKDTO>
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Thông tin sách";
    Layout = "~/Views/Shared/BackendLayout.cshtml";
}
<body onload="changeStatus()">
    <h2>Danh sách</h2>
    <a href="~/Book/Create" class='btn btn-default'><span class="fas fa-redo-alt"></span> Thêm sách</a>
    @using (Html.BeginForm("Index", "Book", FormMethod.Get))
    {
        <div style="text-align:center">
            
            <td>
                <div class="input-group" style="text-align:center">
                    @Html.DropDownList("Select", null, new { onchange = @"changeStatus();" , @class="form-control"})
                    @Html.TextBox("input", @ViewBag.input as string, new { @placeholder = "Tìm kiếm", @class = "form-input" })
                    <button type="submit" class='btn btn-default'><i class="fas fa-search"></i> Tìm kiếm</button>
                    <a href="~/Book/Index" class='btn btn-default'><span class="fas fa-redo-alt"></span> Refresh</a>
                </div>
            </td>
            <td>
                <tr>
                    <div id="type" style="display: none">
                        Thể loại:
                        @Html.DropDownList("typeid", null, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </tr>
                <tr>
                    <div id="author" style="display:none">
                        Tác giả:
                        @Html.DropDownList("authorid", null, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </tr>
                <tr>
                    <div id="price" style="display: none">
                        Giá:
                        @Html.DropDownList("selectprice", null, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </tr>
                <tr>
                    Sắp xếp: @Html.DropDownList("sort", null, new { @class = "from-control", @onChange = "this.form.submit()" });
                </tr>
        </div>
    }

<p>
    
</p>

    <table class="table">

        <tr>
            <th>
                Tên sách
            </th>
            <th>
                Mô tả
            </th>

            <th>
                Thể loại
            </th>

            <th>
                Nhà xuất bản
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Tác giả
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Giá
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BOOKNAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DESCRIPSHORTED)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TYPENAME)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PUBLISHNAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AMOUNT)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AUTHORNAME)
                </td>
                <td>
                    <img src="@Url.Content(item.PIC1?? "~/Image/add.png")" alt="Image not found" width="100" height="100" />
                </td>
                <td>
                    <img src="@Url.Content(item.PIC2?? "~/Image/add.png")" alt="Image not found" width="100" height="100" />
                </td>
                <td>
                    <img src="@Url.Content(item.PIC3?? "~/Image/add.png")" alt="Image not found" width="100" height="100" />
                </td>
                <td>
                    <img src="@Url.Content(item.PIC4?? "~/Image/add.png")" alt="Image not found" width="100" height="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRICE)
                </td>
                <td>
                    @Html.ActionLink("Sửa thông tin", "Edit", new { id = item.BOOKID }) |
                    @Html.ActionLink("Thông tin chi tiết", "Details", new { id = item.BOOKID }) |
                    @Html.ActionLink("Xóa sách trên kệ hàng", "Delete", new { id = item.BOOKID })
                </td>
            </tr>
        }

    </table>
    <div class="text-center" style="text-align: center">
        <ul class="pagination">
            Trang  @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            / @Model.PageCount

            @Html.PagedListPager(Model, pageNum => Url.Action("Index", new
       {
           pageNum,
           input = Request.QueryString["input"],
           Select=Request.QueryString["Select"],
           typeid = Request.QueryString["typeid"],
           authorid = Request.QueryString["authorid"],
           selectprice = Request.QueryString["selectprice"],
           sort = Request.QueryString["sort"]
       }))
        </ul>
    </div>
</body>
<script>
    //$(document).ready(function () {
    //    $("#Select").change(function () {
    //        var a = 
    //    })
        
    //})


    function changeStatus() {
        var status= document.getElementById('Select');
        var varvalue = status.value;
        if (varvalue == '1') {
            document.getElementById('type').style.display = 'none';
            document.getElementById('price').style.display = 'none';
            document.getElementById('author').style.display = 'none';
        }
        if (varvalue == '2')
        {
            document.getElementById('type').style.display = 'block';
            document.getElementById('price').style.display = 'none';
            document.getElementById('author').style.display = 'none';
        }
        else if (varvalue == '3')
        {
            document.getElementById('type').style.display = 'none';
            document.getElementById('price').style.display = 'none';
            document.getElementById('author').style.display = 'block';
        }
        else if (varvalue == '4')
        {
            document.getElementById('type').style.display = 'none';
            document.getElementById("price").style.display = 'block';
            document.getElementById('author').style.display = 'none';            
        }
    }
</script>